$color-primary: #49559D;
$color-secondary: #A4ACE0;
$color-bk01: #2F2F2F;
$color-bk02: #858585;
$color-bk03: #B5B5B5;
$color-wt01: #FFFFFF;
$color-wt02: #F7F7F7;

$font-primary: "Noto Serif JP",sans-sefif;
