.flow-bottom-contents-right {
    padding-left: 20px;

    @include media("sp") {
        padding-left: 0;
    }

    h4 {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 2.2rem;
        // line-height: 50px;
        margin: 0;

        @include media("sp") {
            font-size: 2.0rem;
            letter-spacing: 0.01em;
        }
    }
    &__span {
        font-size: 2.8rem;
        color: $color-wt01;
        background-color: $color-secondary;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        width: 50px;
        height: 50px;
        margin-right: 10px;

    }
    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__link {
        color: $color-primary;
        padding: 0;
        font-size: 1.6rem;
        border-bottom: 1px solid $color-primary;
    }
}
