.flow-bottom-top {
    text-align: center;
    margin-bottom: 50px;

    &__title {
        font-size: 2.8rem;
        border-bottom: 3px solid $color-secondary;
        display: inline-block;
        max-width: 440px;
        margin: 0 auto;
        padding: 5px 0;

        @include media("sp") {
            font-size: 2.2rem;
            letter-spacing: 0;
        }
    }
    &__text {
        font-size: 2.2rem;

        @include media("sp") {
            font-size: 1.6rem;
            text-align: left;
            display: inline-block;
        }
    }
}
