.header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $color-wt01;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 80px;

    @include media("tb") {
        padding: 0 15px
    }
    @include media("sp") {
        height: 50px;
        padding: 0 15px;
    }
}
