.location-bottom-right {
    padding-left: 20px;

    @include media("sp") {
        padding-left: 0;
    }
    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 20px;

        @include media("sp") {
            margin-bottom: 25px;
        }
    }
    &__link {
        font-size: 1.6rem;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
    }
}
