.contact-upper-left {
    display: flex;
    align-items: center;

    @include media("sp") {
        flex-direction: column;
    }

    &__title {
        font-size: 2.8rem;
        color: $color-wt01;
        margin-right: 20px;

        @include media("sp") {
            margin-right: 0;
            font-size: 2.2rem;
        }
    }

}
